{% extends 'base.html' %}

{% block content %}

    <br>
    <center>
    <div class="content container">
        <header class="page-header" style="text-align:center;color:#C1B7F4;height:100px;padding-top:3px;">
            <h5>Sign up</h5>
        </header>
        <div class="row">
            <div class="col-md-16">
                <form method="POST" style="text-align:center">
                    {% csrf_token %}
                    <div class="form-group">
                        <!--label for="username">Username</label-->
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                    </div>
                    <br>
                    <div class="form-group">
                        <!--label for="email">Email</label-->
                        <input type="text" name="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <br>
                    <div class="form-group">
                        <!--label for="password">Password</label-->
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
    </center>

{% endblock %}